.ipynb_checkpoints/
data/
models/
__pycache__/
6_overlapping_all_test.11096975.err
6_overlapping_all_test.11096975.out
10_overlapping_all_test.11097957.err
10_overlapping_all_test.11097957.out
model.png
